body {
  background-color: #fff;
  color: #111;
  margin: 0;
  padding: 0;
  font: 0.75em/1.3 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}

.wrapper {
  width: 80%;
  margin: 20px auto 40px auto;
}

.datatable {
  width: 100%;
  border: 1px solid #d6dde6;
  border-collapse: collapse;
}
.datatable td {
  border: 1px solid #d6dde6;
  padding: 0.3em;
}
.datatable th {
  border: 1px solid #828282;
  background-color: #bcbcbc;
  font-weight: bold;
  text-align: left;
  padding-left: 0.3em;
}
.datatable caption {
  font: bold 110% Arial, Helvetica, sans-serif;
  color: #33517a;
  text-align: left;
  padding: 0.4em 0 0.8em 0;
}
.datatable tr:nth-child(odd) {
  background-color: #dfe7f2;
  color: #000;
}