body {
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  font: 0.875em/1.2 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}

.wrapper {
  width: 80%;
  margin: 20px auto 40px auto;
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

a[href^="http:"] {
  padding-left: 20px;
  background-image: url(icon-link-external.png);
  background-repeat: no-repeat;
}

a[href^="mailto:"] {
  padding-left: 20px;
  background-image: url(icon-link-email.png);
  background-repeat: no-repeat;
}

a[href$=".pdf"] {
  padding-left: 20px;
  background-image: url(icon-pdf.png);
  background-repeat: no-repeat;
}