body {
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  font: 0.75em/1.3 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}

.wrapper {
  width: 80%;
  margin: 20px auto 40px auto;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

.nav li {
  border-left: 10px solid rgb(144,154,181);
  border-bottom: 1px solid rgb(144,154,181);
}

.nav li a:link, 
.nav li a:visited {
  background-color: rgb(192,202,229);
  color: rgb(49,52,61);
  padding: 0.5em;
  display: block;
  text-decoration: none;
  border-left: 5px solid rgb(239,213,252);
}

.nav li a:hover {
  background-color: rgb(144,154,181);
  color: rgb(255,255,255);
  border-left: 5px solid rgb(250,136,234);
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.nav ul li {
  border: 0;
}

.nav ul li a:link, 
.nav ul li a:visited {
  background-color: rgb(237,241,252);
  color: rgb(49,52,61);
  padding: 0.5em 0.5em 0.5em 1em;
  display: block;
  text-decoration: none;
  border-left: 5px solid rgb(239,213,252);
}

.nav ul li a:hover {
  background-color: rgb(255,255,255);
  color: rgb(49,52,61);
  border-left: 5px solid rgb(250,136,234);
}