body {
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  font: 0.75em/1.2 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}

.wrapper {
  width: 80%;
  margin: 20px auto 40px auto;
}

.sitemap {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sitemap > li {
  border: 2px solid rgba(153,178,183,0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; 
  margin: 0 0 1em 0;
}

.sitemap > li:hover {
  border: 2px solid rgba(153,178,183,1);
}

.sitemap > li > a:link, .sitemap > li > a:visited {
  background-color: rgba(153,178,183,0.1);
  color: rgb(0,0,0);
  text-decoration: none;
  display: block;
  padding: 0.75em;
}

.sitemap > li:hover > a:link, .sitemap > li:hover > a:visited {
  background-color: rgba(153,178,183,0.5);
}

.sitemap ul {
  margin: 1em 0 1em 0 ;
  padding: 0;
  list-style: none;
  line-height: 1.8;
}

.sitemap ul ul {
  margin: 0.5em 0 0.5em 0;
}

.sitemap ul a:link, .sitemap ul a:visited {
  padding: 0.75em;
  text-decoration: none;
  color: rgb(69,80,83);
}

.sitemap ul ul a:link:before, .sitemap ul ul a:visited:before {
  content: "> ";
}