body {
  background-color: #333;
  background-image: url(brushed_alu_dark.png);
  color: #fff;
  margin: 0;
  padding: 0;
  font: 0.75em/1.3 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}

.wrapper {
  width: 80%;
  margin: 20px auto 40px auto;
  background-color: #fff;
  color: #333;
  background-image: url(brushed_alu.png);
}

.recipe {
  padding: 1em;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 125%;
}

h2.instructions {
  background-image: url(instructions.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
} 

ul.ingredients {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  list-style: none;
  margin: 1em 0 1em 0;
  padding: 1em 0 1em 30px;
  background-image: url(ingredients.png);
  background-repeat: no-repeat;
  background-position: 0 1em;
}

a.more:link, a.more:visited {
  display: block;
  padding: 0.3em 20px 0.3em 0;
  text-align: right;
  color: #666;
  font-weight: bold;
  background-image: url(arrow.png);
  background-position: right center;
  background-repeat: no-repeat;
  text-decoration: none;
}