body {
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  font: 0.75em/1.5 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}

.wrapper {
  width: 80%;
  margin: 20px auto 40px auto; 
}

ul.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.gallery li {
  float: left;
  width: 240px;
  margin: 0 20px 20px 0;
  border: 1px solid #000;
  position: relative;
  -webkit-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

ul.gallery img {
  display: block;
}

ul.gallery span {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  color: rgb(255,255,255);
  width: 220px;
  padding: 10px;
}

ul.gallery span {
  margin-left: -9999px;
}

ul.gallery li:hover span {
  margin-left: 0;
}